@page
@model Mintic.App.Presentacion.Pages.CrudRol.DetailsModel

@{
    ViewData["Title"] = "DetallesRol";
}

<h1>Detalles del Rol</h1>
<div class="alert alert-info" role="alert">
  Los siguientes son los detalles del registro seleccionado.
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.NombreRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.NombreRol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.CodigoRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.CodigoRol)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rol.Id">Editar</a> |
    <a asp-page="./Index" class="btn btn-secondary">Atras</a>
</div>
