@page
@model Mintic.App.Presentacion.Pages.CrudRol.IndexModel

@{
    ViewData["Title"] = "Rol";
}
<p>
   <a class="btn btn-primary" asp-page="Create">Crear un rol</a>
</p>
<div class="panel-primary">
    <div class="panel-heading"> Lista de roles </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol[0].NombreRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol[0].CodigoRol)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rol) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRol)
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="true">Ver mas <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="position: relative;">
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <li><a asp-page="./Edit" asp-route-id="@item.Id">Editar</a></li>
                        <li><a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> </li>
                        <li><a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a></li>
                      </div>  
                    </ul>
                </div> 
            </td>
        </tr>
}
    </tbody>
</table>
