@page
@model Mintic.App.Presentacion.Pages.CrudRol.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol[0].NombreRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol[0].CodigoRol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rol) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
