@page
@model Mintic.App.Presentacion.Pages.CrudGrupo.DetailsModel

@{
    ViewData["Title"] = "DetallesGrupo";
}

<h1>Detalles del grupo</h1>

<div>
    <div class="alert alert-info" role="alert">
        Los siguientes son los detalles del grupo seleccionado.
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo.CodigoGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupo.CodigoGrupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo.Formador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupo.Formador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupo.Tutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grupo.Id" class="btn btn-primary">Enviar</a> |
    <a asp-page="./Index" class="btn btn-secondary">atras</a>
</div>
