@page
@model Mintic.App.Presentacion.Pages.CrudNota.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
   <a class="btn btn-primary" asp-page="Create">Insertar notas </a>
</p>
<div class="panel-primary">
    <div class="panel-heading"> Lista de notas </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Nota3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Nota4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota[0].Nota5)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Nota) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota5)
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="true">Ver mas <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="position: relative;">
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <li><a asp-page="./Edit" asp-route-id="@item.Id">Editar</a></li>
                        <li><a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> </li>
                        <li><a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a></li>
                      </div>  
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
